<div id="<%= dom_id menu %>">
  <p>
    <strong>Title:</strong>
    <%= menu.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= menu.price %>
  </p>

  <p>
    <strong>Image:</strong>
    <image src="<%=(url_for(menu.image))%>">
  </p>

</div>
