<div class="py-5 text-center container">
  <h1>Editing menu</h1>
</div>

<%= render "form", menu: @menu %>

<br>

<div class="py-5 text-center container">
  <%= link_to "Show this menu", @menu, class:"btn btn-warning btn-sm" %> |
  <%= link_to "Back to menus", menus_path, class:"btn btn-dark btn-sm" %>
</div>
