<div class="py-5 text-center container">
  <h1>New menu</h1>
</div>

<%= render "form", menu: @menu %>

<br>

<div class="py-5 text-center container">
  <%= link_to "Back to menu", menus_path, class:"btn btn-dark btn-sm" %>
</div>
